<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h4>Wonder Learning Center</h4>
                    <h1>Sobre Nosotros</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="assets/images/about-left-image.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h6>Información Principal</h6>
                    <h4>Conoce más sobre<em> Nosotros</em></h4>
                    <p>Wonder es un espacio de aprendizaje para todas las edades. Es un centro especializado en el
                        aprendizaje del inglés.
                        <br>También trabajamos los conceptos vistos en clase con el objetivo de reforzarlos para una
                        completa adquisición de las competencias exigidas por los centros escoltares.
                        <br>Preparamos para títulos oficiales de B1, B2 de inglés y C1, C2 de valenciano, así como las
                        pruebas de acceso a los grados superiores.
                        <br> También impartimos clases de robótica, programación y creación de videojuegos para alumnado
                        de primaria.
                        <br><br>
                    <h4>Pero,<em> ¿quién puede apuntarse?</em></h4>
                    El alumnado de educación infantil, primaria, secundaria y bachillerato, así como personas adultas
                    que lo necesiten, Educamos para el futuro.
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-item">
                            <div class="icon">
                                <img src="assets/images/service-icon-01.png" alt="">
                            </div>
                            <h4>Buena metodología</h4>
                            <p> Nos basamos en el método Montessori para aprender la lengua extranjera de una forma
                                lúdica.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-item">
                            <div class="icon">
                                <img src="assets/images/service-icon-02.png" alt="">
                            </div>
                            <h4>Ideas Creativas</h4>
                            <p>Fomentamos la creatividad con las clases de inglés, valenciano, robótica, programación y
                                refuerzo integral.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h6>Wonder Learning Center</h6>
                    <h4>Nuestro <em>Equipo</em></h4>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu nav-pills" id="v-pills-tab" role="tablist">
                                    <div class="active" id="v-pills-person1-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-person1" type="button" role="tab"
                                        aria-controls="v-pills-person1" aria-selected="true">
                                        <img src="../../../../assets/images/team-member-01.jpg" alt="">
                                        <h4>Paula</h4>
                                        <span>Profesora</span>
                                    </div>
                                    <div id="v-pills-person2-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-person2" type="button" role="tab"
                                        aria-controls="v-pills-person2" aria-selected="true">
                                        <img src="../../../../assets/images/team-member-02.jpg" alt="">
                                        <h4>Mireia</h4>
                                        <span>Profesora</span>
                                    </div>
                                    <div id="v-pills-person3-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-person3" type="button" role="tab"
                                        aria-controls="v-pills-person3" aria-selected="true">
                                        <img src="../../../../assets/images/team-member-03.jpg" alt="">
                                        <h4>Patricia</h4>
                                        <span>Profesora</span>
                                    </div>
                                    <div id="v-pills-person4-tab" data-bs-toggle="pill"
                                        data-bs-target="#v-pills-person4" type="button" role="tab"
                                        aria-controls="v-pills-person4" aria-selected="true">
                                        <img src="../../../../assets/images/team-member-04.jpg" alt="">
                                        <h4>Montse</h4>
                                        <span>Profesora</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc tab-content" id="v-pills-tabContent">
                                    <li class="active" id="v-pills-person1" role="tabpanel"
                                        aria-labelledby="v-pills-person1-tab" tabindex="0">
                                        <div>
                                            <div class="left-content">
                                                <h4>PAULA</h4>
                                                <p>Paula es graduada en Traducción y Mediación Interlingüística en
                                                    Inglés, con un máster en Profesorado de Educación Secundaria.
                                                    Además, cuenta con un grado en Lenguas Modernas y sus Literaturas en
                                                    Italiano. Posee certificaciones de nivel C1 en inglés (PACLE), nivel
                                                    B2 en italiano (CELI 3) y nivel C2 de valenciano (Nivell Superior)
                                                    por la JQCV. También tiene capacitación en inglés, italiano y
                                                    valenciano.</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contacto</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="../../../../assets/images/team-member-01.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li id="v-pills-person2" role="tabpanel" aria-labelledby="v-pills-person2-tab"
                                        tabindex="0">
                                        <div>
                                            <div class="left-content">
                                                <h4>MIREIA</h4>
                                                <p>Mireia posee una licenciatura en Química, un postgrado en Didáctica
                                                    de las Matemáticas, un título de Técnico Superior en Educación
                                                    Infantil, es Técnico Educador Social y cuenta con un nivel de inglés
                                                    B2.</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contacto</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="../../../../assets/images/team-member-02.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li id="v-pills-person3" role="tabpanel" aria-labelledby="v-pills-person3-tab"
                                        tabindex="0">
                                        <div>
                                            <div class="left-content">
                                                <h4>PATRICIA</h4>
                                                <p>Patri está especializada en Gestión de Seguridad Informática en la
                                                    Empresa y cuenta con competencias en IFCT (Competencias Digitales).
                                                    Además, tiene experiencia en Programación Didáctica de Acciones
                                                    Formativas para el Empleo y en Atención al Alumnado con Necesidades
                                                    Educativas Especiales (ACNEE) en centros educativos.</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contacto</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="../../../../assets/images/team-member-03.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li id="v-pills-person4" role="tabpanel" aria-labelledby="v-pills-person4-tab"
                                        tabindex="0">
                                        <div>
                                            <div class="left-content">
                                                <h4>MONTSE</h4>
                                                <p>Montse es diplomada en Magisterio y posee el First Grade Certificate
                                                    por la Escuela Oficial de Idiomas. Además, cuenta con el Certificado
                                                    de Metodologías Activas en Educación Infantil otorgado por la
                                                    Fundación Europea Educación y Libertad, así como el Certificado del
                                                    Método Activo y Personalizado de Aprendizaje (M.A.P.A). También
                                                    cuenta con el Certificat Oficial Administratiu de Coneixements Orals
                                                    i Elementals de Valencià por la Junta Qualificadora de Coneixements
                                                    de Valencia, Conselleria de Cultura, Educació i Esports</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contacto</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="../../../../assets/images/team-member-04.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="left-image">
                    <img src="assets/images/cta-left-image.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <h6>¡No te pierdas esta oportunidad!</h6>
                <h4>¡Aprovecha ahora mismo hasta un 50% de DESCUENTO en la matrícula!</h4>
                <p>Sumérgete en un mundo de posibilidades educativas, donde la excelencia y la innovación se encuentran.
                    Únete a nuestra comunidad de aprendizaje hoy mismo y haz realidad tus metas académicas con nosotros.
                </p>

                <div class="white-button">
                    <a href="contact-us.html">Ver Cursos</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6>Reseñas</h6>
                    <h4>Opiniones <em>Reales</em></h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
                    <div class="item">
                        <p>He realizado con Paula el curso de Valenciano C1 y C2 online, consiguiendo el apto en las
                            primeras partes, a la espera del resultado final. No es un curso online cualquiera, he
                            tenido un trato cercano con la profesora, enviándole todo lo necesario y ella corrigiéndome
                            y dándome muchos consejos para mejorar. Paula la profesora un 10, solo puedo darle las
                            gracias.</p>
                        <h4>Raquel Fillol</h4>
                        <span>Cliente</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>Me apunté para prepararme un examen oficial de valenciano y recibí la ayuda perfecta ya que
                            está enfocado a ello. Paula lo domina y lo sabe explicar genial.</p>
                        <h4>Alicia Romero</h4>
                        <span>Cliente</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>Mis hijos van a repaso e inglés y subieron las notas y super contentos ,Paula y Montse se lo
                            curran mucho muy involucradas con los niños.</p>
                        <h4>Caliki Villarubia</h4>
                        <span>Cliente</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>Muy contenta con el trato que he recibido y mis hijos súper contentos y con buenos resultados
                            en la escuela. Sin duda para el próximo curso repetimos</p>
                        <h4>Maria Flores</h4>
                        <span>Cliente</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>Encantada con el centro y con el trato de las profesoras. Son todos muy amables y
                            profesionales!</p>
                        <h4>Laura Buendia</h4>
                        <span>Cliente</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>Súper contenta con Paula y Montse como profes de mis hijos , grandísimas profesionales,
                            recomiendo wonder 💯 %</p>
                        <h4>Diana Mena</h4>
                        <span>Cliente</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>Paula es una persona encantadora. Con paciencia y buenos conocimientos nos enseña lo mejor y
                            más importante para ampliar conocimientos y superar los exámenes. ¡Muy recomendable!</p>
                        <h4>Sonia Herraiz</h4>
                        <span>Cliente</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>Muy buenas clases y preparación de forma intensiva para el examen nivel C2 de valenciano.
                            Gran recopilación de recursos, corrección de textos y expresión oral.
                            <br>
                            Muy recomendable.
                        </p>
                        <h4>Pascual M.Folch</h4>
                        <span>Cliente</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footeraboutus></app-footeraboutus>