<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h4>More About Us</h4>
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="get-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-image">
                    <img src="assets/images/about-left-image.png" alt="">
                </div>
            </div>
            <div class="col-lg-6 align-self-center">
                <div class="section-heading">
                    <h6>Get info</h6>
                    <h4>Read More <em>About Us</em></h4>
                    <p>You are allowed 100% to download and use our templates from TemplateMo for your commercial or
                        business
                        websites. You are <strong>not allowed</strong> to redistribute this template ZIP file on any
                        other website
                        without a permission from us.<br><br>There are some unethical people on this planet earth who
                        copied our
                        templates so easily without any permission from us and then reposted on their websites. Their
                        Karma will
                        hit them really hard. Yeah, that is right.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="info-item">
                            <div class="icon">
                                <img src="assets/images/service-icon-01.png" alt="">
                            </div>
                            <h4>Best Strategy</h4>
                            <p>Food & truck tumeric taxidermy hoodie chiasore bitters retroed gentrify street portland.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="info-item">
                            <div class="icon">
                                <img src="assets/images/service-icon-02.png" alt="">
                            </div>
                            <h4>Creative Ideas</h4>
                            <p>Food & truck tumeric taxidermy hoodie chiasore bitters retroed gentrify street portland.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-team">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h6>Our Team</h6>
                    <h4>Our Team <em>Members</em></h4>
                </div>
            </div>
            <div class="col-lg-10 offset-lg-1">
                <div class="naccs">
                    <div class="tabs">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="menu">
                                    <div class="active">
                                        <img src="assets/images/team-member-thumb-01.jpg" alt="">
                                        <h4>Ruby Foster</h4>
                                        <span>CEO-FOUNDER</span>
                                    </div>
                                    <div>
                                        <img src="assets/images/team-member-thumb-03.jpg" alt="">
                                        <h4>Luis Oconnell</h4>
                                        <span>CEO-FOUNDER</span>
                                    </div>
                                    <div>
                                        <img src="assets/images/team-member-thumb-02.jpg" alt="">
                                        <h4>Jackie Riggs</h4>
                                        <span>CEO-FOUNDER</span>
                                    </div>
                                    <div>
                                        <img src="assets/images/team-member-thumb-04.jpg" alt="">
                                        <h4>Alfred Small</h4>
                                        <span>CEO-FOUNDER</span>
                                    </div>
                                    <div>
                                        <img src="assets/images/team-member-thumb-05.jpg" alt="">
                                        <h4>Denis Mitchel</h4>
                                        <span>CEO-FOUNDER</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <ul class="nacc">
                                    <li class="active">
                                        <div>
                                            <div class="left-content">
                                                <h4>Ruby Foster</h4>
                                                <p>Quinoa roof party squid prism sustainable letterpress cray hammock
                                                    tumeric man bun mixtape
                                                    tofu subway tile cronut. Deep v ennui subway tile organic seitan
                                                    kogi freegan bicycle rights
                                                    try-hard green juice probably.</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contact Member</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="assets/images/team-member-01.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-content">
                                                <h4>Luis Oconnell</h4>
                                                <p>Quinoa roof party squid prism sustainable letterpress cray hammock
                                                    tumeric man bun mixtape
                                                    tofu subway tile cronut. Deep v ennui subway tile organic seitan
                                                    kogi freegan bicycle rights
                                                    try-hard green juice probably.</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contact Member</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="assets/images/team-member-03.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-content">
                                                <h4>Jackie Riggs</h4>
                                                <p>Quinoa roof party squid prism sustainable letterpress cray hammock
                                                    tumeric man bun mixtape
                                                    tofu subway tile cronut. Deep v ennui subway tile organic seitan
                                                    kogi freegan bicycle rights
                                                    try-hard green juice probably.</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contact Member</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="assets/images/team-member-02.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-content">
                                                <h4>Alfred Small</h4>
                                                <p>Quinoa roof party squid prism sustainable letterpress cray hammock
                                                    tumeric man bun mixtape
                                                    tofu subway tile cronut. Deep v ennui subway tile organic seitan
                                                    kogi freegan bicycle rights
                                                    try-hard green juice probably.</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contact Member</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="assets/images/team-member-04.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div>
                                            <div class="left-content">
                                                <h4>Dennis Mitchel</h4>
                                                <p>Quinoa roof party squid prism sustainable letterpress cray hammock
                                                    tumeric man bun mixtape
                                                    tofu subway tile cronut. Deep v ennui subway tile organic seitan
                                                    kogi freegan bicycle rights
                                                    try-hard green juice probably.</p>
                                                <span><a href="#">Facebook</a></span>
                                                <span><a href="#">Twitter</a></span>
                                                <span class="last-span"><a href="#">Linkedin</a></span>
                                                <div class="text-button">
                                                    <a href="contact-us.html">Contact Member</a>
                                                </div>
                                            </div>
                                            <div class="right-image">
                                                <img src="assets/images/team-member-05.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="left-image">
                    <img src="assets/images/cta-left-image.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <h6>Get the sale right now!</h6>
                <h4>Up to 50% OFF For 1+ courses</h4>
                <p>Kogi VHS freegan bicycle rights try-hard green juice probably haven't heard of them cliche la croix
                    af
                    chillwave.</p>
                <div class="white-button">
                    <a href="contact-us.html">View Courses</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6>Testimonials</h6>
                    <h4>What They <em>Think</em></h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="owl-testimonials owl-carousel" style="position: relative; z-index: 5;">
                    <div class="item">
                        <p>“Food & truck tumeric hoodie chiasore bit-
                            ters retroed gentrify street portland.”</p>
                        <h4>Andrea Furistos</h4>
                        <span>CEO-FOUNDER</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>“Food & truck tumeric hoodie chiasore bit-
                            ters retroed gentrify street portland.”</p>
                        <h4>Andrea Furistos</h4>
                        <span>CEO-FOUNDER</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>“Food & truck tumeric hoodie chiasore bit-
                            ters retroed gentrify street portland.”</p>
                        <h4>Andrea Furistos</h4>
                        <span>CEO-FOUNDER</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>“Food & truck tumeric hoodie chiasore bit-
                            ters retroed gentrify street portland.”</p>
                        <h4>Andrea Furistos</h4>
                        <span>CEO-FOUNDER</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>“Food & truck tumeric hoodie chiasore bit-
                            ters retroed gentrify street portland.”</p>
                        <h4>Andrea Furistos</h4>
                        <span>CEO-FOUNDER</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>“Food & truck tumeric hoodie chiasore bit-
                            ters retroed gentrify street portland.”</p>
                        <h4>Andrea Furistos</h4>
                        <span>CEO-FOUNDER</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>“Food & truck tumeric hoodie chiasore bit-
                            ters retroed gentrify street portland.”</p>
                        <h4>Andrea Furistos</h4>
                        <span>CEO-FOUNDER</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                    <div class="item">
                        <p>“Food & truck tumeric hoodie chiasore bit-
                            ters retroed gentrify street portland.”</p>
                        <h4>Andrea Furistos</h4>
                        <span>CEO-FOUNDER</span>
                        <img src="assets/images/quote.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>