<section class="page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="header-text">
                    <h4>Bienvenido a Wonder Learning Center</h4>
                    <h1>Contacto</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="more-info">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="section-heading">
                    <h6>Más Información</h6>
                    <h4>Leer Más <em>Sobre Nosotros</em></h4>
                </div>
                <p>Ofrecemos una variedad de cursos para estudiantes de todas las edades, desde refuerzo escolar hasta preparación para exámenes de inglés. Nuestra metodología dinámica y personalizada garantiza un aprendizaje efectivo y divertido.</p>
                <ul>
                    <li>- Grupos reducidos para atención personalizada.</li>
                    <li>- Flexibilidad de horarios y días de clases.</li>
                    <li>- Preparación para títulos oficiales de inglés.</li>
                </ul>
            </div>
            <div class="col-lg-6 offset-lg-1 align-self-center">
                <div class="row">
                    <div class="col-6">
                        <div class="count-area-content">
                            <div class="count-digit">125</div>
                            <div class="count-title">Estudiantes Satisfechos</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="count-area-content">
                            <div class="count-digit">11</div>
                            <div class="count-title">Años de Experiencia</div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="count-area-content">
                            <div class="count-digit">87</div>
                            <div class="count-title">Clientes Satisfechos</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<app-footercontact></app-footercontact>