<div>
  <div>
    Sign Up
  </div>
  <div class="form_container">
    <form (ngSubmit)="registerUser(form)" #form="ngForm">
      <div class="mb-3">
        <label class="form-label" name="email" id="email" for="email">eMail</label>
        <input class="form-control" ngModel name="email" type="email">
      </div>
      <div class="mb-3">
        <label class="form-label" name="password" id="password" for="password">Password</label>
        <input class="form-control" ngModel name="password" type="password">
      </div>
      <div>
        <button class="btn btn-primary" type="submit">
          Add User
        </button>
      </div>
    </form>
  </div>
</div>