<div class="wrapper">
  <aside id="sidebar">
    <div class="d-flex align-items-center justify-content-center">
      <button id="toggle-btn" (click)="expand()" type="button">
        <i class="fa fa-th-large fa-2x"></i>
      </button>
      <div class="sidebar-logo">
        <a routerLink="/dashboard">Wonder Learning</a>
      </div>
    </div>
    <ul class="sidebar-nav">
      <li class="sidebar-item">
        <a href="#" class="sidebar-link has-dropdown collapsed" data-bs-toggle="collapse" data-bs-target="#profile"
          aria-expanded="false" aria-controls="profile">
          <i class="fa fa-user fa-2x"></i>
          <span>Profile</span>
        </a>
        <ul id="profile" class="sidebar-dropdown list-unstyled collapse" data-bs-parent="#sidebar">
          <li class="sidebar-item">
            <a routerLink="/dashboard/profile/myprofile" routerLinkActive="active" class="sidebar-link">My Profile</a>
          </li>
          @if (permissions) {
          <li class="sidebar-item">
            <a routerLink="/dashboard/profile/userslist" routerLinkActive="active" class="sidebar-link">Users List</a>
          </li>
          <li class="sidebar-item">
            <a routerLink="/dashboard/profile/register" routerLinkActive="active" class="sidebar-link">Register</a>
          </li>
          }
        </ul>
      </li>
      <li class="sidebar-item">
        <a routerLink="/dashboard/schedule" routerLinkActive="active" class="sidebar-link">
          <i class="fa fa-calendar fa-2x"></i>
          <span>Schedule</span>
        </a>
      </li>
      <li class="sidebar-item">
        <a routerLink="/dashboard/subjects" routerLinkActive="active" class="sidebar-link">
          <i class="fa fa-book fa-2x"></i>
          <span>Subjects</span>
        </a>
      </li>
    </ul>
    <div class="sidebar-footer">
      <a routerLink="/security" (click)="logout()" class="sidebar-link footer-link">
        <i class="fa fa-sign-out fa-2x" style="color: rgba(188, 121, 217, 1);"></i>
        <span style="color: rgba(188, 121, 217, 1);">LOGOUT</span>
      </a>
    </div>
  </aside>
  <div class="main">
    <nav class="navbar navbar-expand px-4 py-3">
      <div class="navbar-collapse collapse">
        <ul class="navbar-nav ms-auto">
          <li class="navbar-item dropdown">
            <a routerLink="/site" class="nav-icon pe-md-0" data-bs-toggle="dropdown">
              <img src="../../../assets/images/logo-icon.png" class="avatar img-fluid" alt="">
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <div id="decoration"></div>
    <main class="content px-4 py-3">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </main>
    <div id="decoration1"></div>
  </div>
</div>