<p>login works!</p>
<div>
  <div class="form_container">
    <form (submit)="logCheck()" [formGroup]="form">
      <div class="mb-3">
        <label class="form-label" name="email" id="email" for="email">eMail</label>
        <input class="form-control" formControlName="username" name="email" type="email">
      </div>
      <div class="mb-3">
        <label class="form-label" name="password" id="password" for="password">Password</label>
        <input class="form-control" formControlName="password" name="password" type="password">
      </div>
      <div>
        <button class="btn btn-primary" type="submit">
          Login
        </button>
      </div>
    </form>
  </div>
</div>