<section class="main-banner" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 align-self-center">
                <div class="header-text">
                    <h6>Bienvenido a nuestra escuela</h6>
                    <ngx-typed-js [strings]="['Ingles', 'Robotica', 'Valenciano', 'Matematicas']" [loop]="true" [backSpeed]="50" [typeSpeed]="150">
                        <h2>¡El mejor lugar para aprender <em class="typing"></em></h2>
                    </ngx-typed-js>
                    <div class="main-button-gradient">
                        <div class="scroll-to-section"><a href="#contact-section">¡Únete ahora!</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-image">
                    <img src="../../../../assets/images/banner-right-image.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Área Principal del Banner Termina ***** -->

<section class="services" id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-heading">
                    <h6>Nuestros Servicios</h6>
                    <h4>Servicios <em>Ofrecidos</em></h4>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="2000">
                            <div class="row">
                                <div class="service-item item col-lg-6">
                                    <div class="icon">
                                        <img src="../../../../assets/images/service-icon-01.png" alt="">
                                    </div>
                                    <h4>Atención Personalizada</h4>
                                    <p>Preparamos material en función de las necesidades del alumnado.</p>
                                </div>
                                <div class="service-item item col-lg-6">
                                    <div class="icon">
                                        <img src="../../../../assets/images/service-icon-02.png" alt="">
                                    </div>
                                    <h4>Grupos Reducidos</h4>
                                    <p>Clases con máximo 5-6 alumnos.</p>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <div class="row">
                                <div class="service-item item col-lg-6">
                                    <div class="icon">
                                        <img src="../../../../assets/images/service-icon-03.png" alt="">
                                    </div>
                                    <h4>Niveles</h4>
                                    <p>Ofrecemos clases para primaria, secundaria y bachillerato.</p>
                                </div>
                                <div class="service-item item col-lg-6">
                                    <div class="icon">
                                        <img src="../../../../assets/images/service-icon-04.png" alt="">
                                    </div>
                                    <h4>Flexibilidad de Horarios</h4>
                                    <p>Elige entre 1-2 días a la semana para tus clases.</p>
                                </div>
                            </div>
                        </div>
                        <!-- Más items de servicios aquí -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-courses" id="courses">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="section-heading">
                    <h6>NUESTROS CURSOS</h6>
                    <h4>Lo Que Puedes <em>Aprender</em></h4>
                    <p>Solo piensa en TemplateMo cada vez que necesites plantillas CSS gratuitas para tu sitio web
                        empresarial.
                    </p>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="naccs">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="menu flex-column nav-pills me-3" id="v-pills-tab" role="tablist">
                                <div class="active" id="v-pills-curso1-tab" data-bs-toggle="pill"
                                    data-bs-target="#v-pills-curso1" type="button" role="tab"
                                    aria-controls="v-pills-curso1" aria-selected="true"><span>Desarrollo Web</span>
                                </div>
                                <div id="v-pills-curso2-tab" data-bs-toggle="pill" data-bs-target="#v-pills-curso2"
                                    type="button" role="tab" aria-controls="v-pills-curso2" aria-selected="false">
                                    <span>Diseño Gráfico</span>
                                </div>
                                <div id="v-pills-curso3-tab" data-bs-toggle="pill" data-bs-target="#v-pills-curso3"
                                    type="button" role="tab" aria-controls="v-pills-curso3" aria-selected="false">
                                    <span>Diseño Web</span>
                                </div>
                                <div id="v-pills-curso4-tab" data-bs-toggle="pill" data-bs-target="#v-pills-curso4"
                                    type="button" role="tab" aria-controls="v-pills-curso4" aria-selected="false">
                                    <span>WordPress</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <ul class="nacc tab-content" id="v-pills-tabContent">
                                <li class="tab-pane fade show active" id="v-pills-curso1" role="tabpanel"
                                    aria-labelledby="v-pills-curso1-tab" tabindex="0">
                                    <div>
                                        <div class="left-image">
                                            <img src="../../../../assets/images/courses-01.jpg" alt="">
                                            <div class="price">
                                                <h6>$128</h6>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <h4>Desarrollo Web</h4>
                                            <p>¿Sabías que puedes visitar el sitio web de <a rel="nofollow"
                                                    href="https://www.toocss.com/" target="_blank">TooCSS</a> para
                                                ver la última lista de plantillas HTML y una variedad de
                                                plantillas útiles?
                                                <br><br>Solo necesitas ir y visitar ese sitio web ahora mismo. Si
                                                tienes alguna sugerencia o
                                                comentario sobre esta plantilla, no dudes en visitar la página de
                                                contacto para obtener
                                                nuestra dirección de correo electrónico.
                                            </p>
                                            <span>36 Horas</span>
                                            <span>4 Semanas</span>
                                            <span class="last-span">3 Certificados</span>
                                            <div class="text-button">
                                                <a href="contact-us.html">Suscribirse al Curso</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tab-pane fade" id="v-pills-curso2" role="tabpanel"
                                    aria-labelledby="v-pills-curso2-tab" tabindex="0">
                                    <div>
                                        <div class="left-image">
                                            <img src="../../../../assets/images/courses-02.jpg" alt="">
                                            <div class="price">
                                                <h6>$156</h6>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <h4>Diseño Gráfico Creativo</h4>
                                            <p>No se te permite redistribuir este archivo ZIP de la plantilla en
                                                ningún otro sitio web sin
                                                permiso de nosotros.<br><br>
                                                Hay algunas personas poco éticas en este mundo que han copiado y
                                                vuelto a publicar
                                                nuestras plantillas sin ningún permiso de nosotros. Su Karma les
                                                golpeará muy fuerte. ¡Sí!
                                            </p>
                                            <span>48 Horas</span>
                                            <span>6 Semanas</span>
                                            <span class="last-span">1 Certificado</span>
                                            <div class="text-button">
                                                <a href="contact-us.html">Suscribirse al Curso</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tab-pane fade" id="v-pills-curso3" role="tabpanel"
                                    aria-labelledby="v-pills-curso3-tab" tabindex="0">
                                    <div>
                                        <div class="left-image">
                                            <img src="../../../../assets/images/courses-03.jpg" alt="">
                                            <div class="price">
                                                <h6>$184</h6>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <h4>Diseño Web</h4>
                                            <p>Fiesta en la azotea de la quinoa, calamar prisma sostenible
                                                letterpress cray hamaca
                                                turmeric man bun mixtape tofu subway tile cronut. Ennui v profundo
                                                azulejo del metro
                                                orgánico seitan.
                                                <br><br>Kogi VHS freegan derechos de bicicleta aferrados jugo verde
                                                probablemente no han
                                                oído hablar de ellos cliché la croix af
                                                chillwave.
                                            </p>
                                            <span>28 Horas</span>
                                            <span>4 Semanas</span>
                                            <span class="last-span">1 Certificado</span>
                                            <div class="text-button">
                                                <a href="contact-us.html">Suscribirse al Curso</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="tab-pane fade" id="v-pills-curso4" role="tabpanel"
                                    aria-labelledby="v-pills-curso4-tab" tabindex="0">
                                    <div>
                                        <div class="left-image">
                                            <img src="../../../../assets/images/courses-04.jpg" alt="">
                                            <div class="price">
                                                <h6>$76</h6>
                                            </div>
                                        </div>
                                        <div class="right-content">
                                            <h4>Introducción a WordPress</h4>
                                            <p>Fiesta en la azotea de la quinoa, calamar prisma sostenible
                                                letterpress cray hamaca
                                                turmeric man bun mixtape tofu subway tile cronut. Ennui v profundo
                                                azulejo del metro
                                                orgánico seitan.
                                                <br><br>Kogi VHS freegan derechos de bicicleta aferrados jugo verde
                                                probablemente no han
                                                oído hablar de ellos cliché la croix af
                                                chillwave.
                                            </p>
                                            <span>48 Horas</span>
                                            <span>4 Semanas</span>
                                            <span class="last-span">2 Certificados</span>
                                            <div class="text-button">
                                                <a href="contact-us.html">Suscribirse al Curso</a>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="simple-cta">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 offset-lg-1">
                <div class="left-image">
                    <img src="../../../../assets/images/cta-left-image.png" alt="">
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                <h6>¡Obtén la oferta ahora mismo!</h6>
                <h4>Hasta un 50% de DESCUENTO en 1 o más cursos</h4>
                <p>Kogi VHS freegan derechos de bicicleta zumo verde intenta-duro probablemente no han oído hablar
                    de ellos cliche la croix af chillwave.</p>
                <div class="white-button">
                    <a href="contact-us.html">Ver Cursos</a>
                </div>
            </div>
        </div>
    </div>
</section>