<div class="form-style">
  <h2>Perfil</h2>
  <br>
  <div class="row">
    <div class="col-md-12">
      <div class="profile-container">
        <div class="profile-header">
          <img src="https://thumbs.dreamstime.com/b/icono-del-perfil-del-placeholder-del-defecto-90197993.jpg"
            alt="Profile Picture" />
          <div class="profile-info">
            <h2>{{user.detail.name}} {{user.detail.surname}}</h2>
            <p>{{user.roles[0]}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="profile-details">
        <h3>Información del Usuario</h3>
        <p>Correo: {{user.email}}</p>
        <p>Fecha de nacimiento: {{user.detail.birthdate}}</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="politics">
        <h3>Privacidad y Políticas</h3>
        <p>Resumen de retención de datos</p>
        <p>Políticas de privacidad</p>
      </div>
    </div>
    <div class="col-md-12">
      <div class="profile-details">
        <h3>Cursos</h3>
        <ul>
          <li>Curso 1</li>
          <li>Curso 2</li>
        </ul>
      </div>
    </div>
  </div>
</div>