<section class="contact-us our-office">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div id="map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3084.552491722993!2d-0.44998518891150247!3d39.366369618779316!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604d13a780bd9f%3A0x253bf266c840933d!2sWonder%20Learning%20Center!5e0!3m2!1ses!2ses!4v1708615275490!5m2!1ses!2ses"
            width="100%" height="420" style="border:0; border-radius: 15px; position: relative; z-index: 2;"
            allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          <div class="row">
            <div class="col-lg-4 offset-lg-1">
              <div class="contact-info">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h4>Teléfono</h4>
                <span>010-020-0340</span>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="contact-info">
                <div class="icon">
                  <i class="fa fa-phone"></i>
                </div>
                <h4>Móvil</h4>
                <span>090-080-0760</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <form id="contact" action="" method="post">
          <div class="row">
            <div class="col-lg-12">
              <div class="section-heading">
                <h6>Contacto</h6>
                <h4>¿Tienes alguna duda? <em>¡Escríbenos!</em></h4>
                <p>Nuestro equipo está aquí para ayudarte. Completa el formulario y nos pondremos en contacto contigo lo
                  antes posible</p>
              </div>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="name" name="name" id="name" placeholder="Nombre Completo" autocomplete="on" required>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <input type="text" name="email" id="email" pattern="[^ @]*@[^ @]*" placeholder="Tu Correo Electrónico"
                  required="">
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <textarea name="message" id="message" placeholder="Tu Mensaje"></textarea>
              </fieldset>
            </div>
            <div class="col-lg-12">
              <fieldset>
                <button type="submit" id="form-submit" class="main-gradient-button">Enviar
                  Mensaje</button>
              </fieldset>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-12" style="margin-top: 0px;">
        <ul class="social-icons">
          <li><a href="https://www.facebook.com/people/Wonder-Learning-Center/100094979259318/"><i
                class="fa fa-facebook"></i></a></li>
          <li><a href="https://www.instagram.com/wonder.learningcenter?igsh=OG1ldW91aTMzanJy"><i
                class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-phone"></i></a></li>
          <li><a href="paula.wonderlearing@gmail.com"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <div class="col-lg-12">
        <p class="copyright">Copyright © 2024 EduWell Co, Code Alchemists, Wonder Learning Center. Todos los derechos Reservados.
          <br>Diseño: <a rel="sponsored" href="#" target="_blank">Code Alchemists</a>
        </p>
      </div>
    </div>
  </div>
</section>