<p>subjects works!</p>
<div class="container">
  <div class="row">
    @if (!showBigCardFlag) {
    @for (subject of subjects; track $index) {
    <div class="card col-md-6" (click)="showBigCard(subject)">
      <h1> {{subject.name}} </h1>
      <h3> Level: {{subject.level}} </h3>
    </div>
    }
    } @else if (showBigCardFlag) {
    <div class="card big-card">
      <div class="close-button" (click)="showAllCards()">X</div>
      {{openSubject.name}}
      {{openSubject.level}}
      @if (openSubject.files[0] == undefined) {
      <p>No Files Here</p>
      } @else {
      <p>Files:</p>
      @for (file of openSubject.files; track $index) {
      <a (click)="showFile(file.url)" href="file.url"> {{file.name}} </a>
      }
      }
    </div>
    <div class="form_container">
      <form class="row" (submit)="postNewFile(openSubject.id)" [formGroup]="file">
        <div class="col-md-6">
          <label class="form-label" name="name" id="name" for="name">Name</label>
          <input class="form-control" formControlName="name" name="name" type="text">
        </div>
        <div class="col-md-6">
          <label class="form-label" name="url" id="url" for="url">Url</label>
          <input class="form-control" formControlName="url" name="url" type="text">
        </div>
        <div>
          <button class="btn btn-primary" type="submit">
            Add File
          </button>
        </div>
      </form>
    </div>
    }
  </div>
</div>