<header class="header-area header-sticky">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <nav class="main-nav">
          <!-- ***** Inicia Logotipo ***** -->
          <a href="index.html" class="logo">
            <img src="assets/images/templatemo-eduwell.png" width="65" height="65" alt="Wonder learning center">
          </a>
          <!-- ***** Termina Logotipo ***** -->
          <!-- ***** Menú Inicia ***** -->
          <ul class="nav" [ngClass]="{'active': menuIsActive}">
            <li><a routerLink="/" routerLinkActive="active">Inicio</a></li>
            <li><a href="#services">Servicios</a></li>
            <li><a href="#courses">Cursos</a></li>
            <li class="has-sub" [ngClass]="{'is-open-sub': menuSubActive}">
              <a (click)="toggleSubMenu()">Páginas</a>
              <ul class="sub-menu" [ngStyle]="{'display': menuSubActive ? 'block' : 'none'}">
                <li><a routerLink="/site/aboutus" routerLinkActive="active">Sobre Nosotros</a></li>
                <li><a routerLink="/site/contact" routerLinkActive="active">Contáctenos</a></li>
              </ul>
            </li>
            <li>
              <a routerLink="/security/login" routerLinkActive="active"
                class="d-flex align-items-center justify-content-center">
                <i class="fa fa-user-circle fa-2x fa-fw"></i>
                @if (logged) {
                Hi, {{user.detail.name}}
                } @else {
                Acceder
                }
              </a>
            </li>
          </ul>
          <a class='menu-trigger' [ngClass]="{'active': menuIsActive}" (click)="toggleMenu()">
            <span>Menu</span>
          </a>
          <!-- ***** Menú Termina ***** -->
        </nav>

      </div>
    </div>
  </div>
</header>